@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

body {
  margin: 0;
  font-family: 'Kadwa';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #004047;
  color: #00B8F0;
}

h1 {
  font-family: 'Kadwa';
  font-size: 3rem;
  font-weight: 400;
}
