@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

body {
  margin: 0;
  font-family: 'Kadwa';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #004047;
  color: #00B8F0;
}

h1 {
  font-family: 'Kadwa';
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

h2 {
  color: #F5F5F5;
  font-family: 'Kadwa';
  font-size: 1.625rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
  width: 260px;
}

h3 {
  font-family: 'Kadwa';
  font-size: 1.5625rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#question {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.button {
  background-color: #006B76;
  border: 1px solid #00B8F0;
  border-radius: 40px;
  color: #F5F5F5;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  height: 52px;
  width: 260px;
}

.button:hover {
  border: 3px solid #00B8F0;
}

.button.game {
  background-color: #F5F5F5;
  color: #006B76;
}

.button.game:hover {
  background-color: #00B8F0;
  color: #F5F5F5;
}

.button.game.disabled {
  background-color: #BAB5B5;
}

.button.game.valid {
  background-color: #00BD71;
}

.button.game.invalid {
  background-color: #AC191A;
}

.game-flag {
  height: 60px;
}